@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    font-family: "Oswald", sans-serif;
    @apply text-white
}